PORT=9000
MONGO_URI=mongodb+srv://rocky123boom_db_user:2fWDqoMYY3j7xiO2@cluster0.zoofu9w.mongodb.net/demo
JWT_SECRET=c118faef4382b3f29865093f349a47c825823fd32b264ec6441b52bdb3a774df
EMAIL_USER=
EMAIL_PASS=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=